<div id="main" class="bg-sky-900 w-full">
    <!-- Div para mostrar resultados-->
    <div class="bg-indigo-100 flex width:1/2">
        <!-- Cuenta -->
        <div>12+3</div>
        <!-- Resultado -->
        <div> = 15</div>
    </div>
    <!-- Teclas calculadora-->
    <div class="w-2/3 bg-pink-400">
        <table>
            <tr>
                <td colspan="3">CLEAR</td>
                <td>/</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>*</td>
            </tr>
        </table>
    </div>
</div>
